/* #region Common */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 2rem 0;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* #endregion Common */

/* #region Debug */
.debug .container
{
  background-color: rgb(255, 166, 0);
}

.debug [class^='col-']
{
  height: 200px;
  background-color: palegreen;
  border: 1px dashed;
}

.debug .h-50
{
  height: 500px;
}

.debug .login,
.debug .logo,
.debug .menu
{
  border: 1px dashed;
}

.debug .container-sm
{
  background-color: palevioletred;
  height: 100%;
}
/* #endregion Debug */

/* #region Utilities */

.d-flex {
  display: flex;
}

.container-sm
{
  max-width: 800px;
  width: 60%;
  margin: auto;
}
.justify-content-between {
  justify-content: space-between;
}

/* Flex Grid */
.container
{
  max-width: 1170px;
  width: 80%;
  margin: auto;
  align-items: center;
}

.row {
  display: flex;
  /* negative margin */
}

[class^='col-']
{
  padding: 0 1rem;
}
 
.col-1{
    width: calc(100% / 12);
}
.col-3{
  width: calc(100% / 12 * 3);
}
.col-4
{
  width: calc(100% / 12 * 4);
}
.col-8 {
  width: calc(100% / 12 * 8);
}


/* Spacings */

.py-3 {
  padding: 0.75rem 0;
}

/* Colors */
.bg_section {
  background-color: #ededed;
}

:root{
    --disc-main: rgba(37, 94, 233, 1);
    --disc-fontlight: rgba(255, 255, 255, 1);
    --disc-dark: rgba(35, 39, 42, 1);
}
/* #endregion Utility */

/* #region Header */

header {
  background-color: var(--disc-main);
  color: var(--disc-fontlight);
}  

.logo, .login {
  width: 20%;
}
.menu {
  width: 60%;
  text-align: center;
}


.logo{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    width: 128px;
    height: 34px;
    
}

.links{
    text-decoration: none;
    color: var(--disc-fontlight);
    padding: 1.5rem;
}

.login{
    background-color: white;
    color: var(--disc-dark);
    font-size: 14px;
    padding: 7px 16px;
    border-radius: 2rem;
    text-align: center;
    width: 90px;
    margin-left: 2rem;

    
}
/* #endregion Header */

/* #region Main */

.jumbotron {
  background-color: var(--disc-main);
  background-image: url(../img/jumbo.png);
  background-size: cover;
  height: 620px; /* we might need to keep this */
  padding: 2rem 0;
  color: var(--disc-fontlight);
}



/* #endregion Main */


/* #region Footer */
footer {
  background-color: darkblue;
}
footer > .top, footer > .bottom {
  padding: 1rem 0;
}

/* #endregion Footer */