/* #region Common */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 2rem 0;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* #endregion Common */

/* #region Debug */
.debug .container
{
  background-color: rgb(255, 166, 0);
}

.debug [class^='col-']
{
  height: 200px;
  background-color: palegreen;
  border: 1px dashed;
}

.debug .h-50
{
  height: 500px;
}

.debug .login,
.debug .logo,
.debug .menu
{
  border: 1px dashed;
}

.debug .container-sm
{
  background-color: palevioletred;
  height: 100%;
}
/* #endregion Debug */

/* #region Utilities */

.d-flex {
  display: flex;
}

.container-sm
{
  max-width: 800px;
  width: 60%;
  margin: auto;
}
.justify-content-between {
  justify-content: space-between;
}

.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Flex Grid */
.container
{
  max-width: 1170px;
  width: 80%;
  margin: auto;
}


.row {
  display: flex;
  padding-top: 10rem;
  /* negative margin */
}

.column{
    flex-direction: column;
}
[class^='col-']
{
  padding: 0 1rem;
  
}
 
.col-1{
    width: calc(100% / 12 * 3);
    
}
.col-3{
  width: calc(100% / 12 * 3);
}
.col-4
{
  width: calc(100% / 12 * 4);
}
.col-8 {
  width: calc(100% / 12 * 8);
}


/* Spacings */

.py-3 {
  padding: 0.75rem 0;
}

/* Colors */
.bg_section {
  background-color: #ededed;
}

:root{
    --disc-main: rgba(37, 94, 233, 1);
    --disc-fontlight: rgba(255, 255, 255, 1);
    --disc-dark: rgba(35, 39, 42, 1);
    --disc-fontdark: rgba(35, 39, 42, 1);
    --disc-buttonmain: rgba(142, 161, 225, 1);
}
/* #endregion Utility */

/* #region Header */

header {
  background-color: var(--disc-main);
  color: var(--disc-fontlight);
}  

.logo, .login {
  width: 20%;
}
.menu {
  width: 60%;
  text-align: center;
}


.logo{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    width: 128px;
    height: 34px;
    
}

.links{
    text-decoration: none;
    color: var(--disc-fontlight);
    padding: 1.5rem;
}

.container.d-flex.py-3>.linklight{
    align-self: flex-end;
}

.linklight{
    background-color: white;
    color: var(--disc-dark);
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 2rem;
    text-align: center;
    width: auto;
    text-decoration: none;   
}

.linkdark{
    background-color: var(--disc-dark);
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 2rem;
    text-align: center;
    width: auto;
    margin-left: 2rem;
    text-decoration: none;
}

.linkmain{
    background-color: var(--disc-buttonmain);
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 2rem;
    text-align: center;
    width:auto;
    text-decoration: none;
}
/* #endregion Header */

/* #region Main */

.jumbotron {
  background-color: var(--disc-main);
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 620px; /* we might need to keep this */
  padding: 2rem 0;
  color: var(--disc-fontlight);
}

.jumbotext{
    text-align: center;
    
}
.jumbotext>h1{
    line-height: 7rem;
    font-size: 50px;
}

.jumbotext>p{
    margin: 0 5rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 500 ;
}

.fa-solid {
    padding-right: 0.5rem ;
}

.card{
    color: var(--disc-fontdark);
}
.card>h2{
    padding:2rem 0;
    font-weight: 800;
    font-size: 48px;
}

.card>p{
    line-height: 1.8rem;
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    padding-left: 0;
}

.row.column.center>h2{
    padding: 2rem;
    font-size:48px;
    color: var(--disc-fontdark);
}

.row.column.center>p,h3{
    color: var(--disc-fontdark);
    line-height: 1.8rem;
    font-weight: 500;
    font-size: 20px;
}

h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-image: url(../img/stars.svg);    
    font-weight:900;
    font-size: 30px;
    width: 500px;
}




/* #endregion Main */


/* #region Footer */

h4{
    font-size: 2rem;
    color: var(--disc-buttonmain);
    margin-bottom: 2rem;
    
}
.speak{
    color: var(--disc-fontlight);
    margin-top: 2rem;
}
.footer-links{
    display: block;
    text-decoration: none;
    color: var(--disc-fontlight);
    padding-top: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    
}
.social{
    padding-top: 1rem;
}
.fa-twitter, .fa-instagram, .fa-facebook, .fa-youtube{
    padding: 0 0.5rem;
}

.footer-titles{
    color: var(--disc-buttonmain);
    font-size: 20px;
    font-weight: 700;
}  
.border{
    border-bottom: solid 1px var(--disc-buttonmain);
}
footer {
  background-color: var(--disc-dark);
}
footer > .top, footer > .bottom, footer .row  {
  padding: 1rem 0;
}

/* #endregion Footer */